global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

rule_files:
  - /etc/prometheus/alert.rules.yml

scrape_configs:
  - job_name: "flask-app"
    metrics_path: /metrics
    static_configs:
      - targets:
          - app:8080
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: secretaria-app

  - job_name: "prometheus"
    static_configs:
      - targets:
          - localhost:9090
